<div class="widget libcal">
    <h3 class="title"><span>{{ __("Today's Hours") }}</span></h3>
    <div class="widget-insides">
        <div id="api_hours_today_iid3446_lid0"></div>
        <script src="https://api3.libcal.com/api_hours_today.php?iid=3446&lid=0&format=js&context=object"></script>
    </div>
</div>