<div class="widget">
    <h3 class="title"><span>{{ __('Library Chat') }}</span></h3>
    <div class="widget-insides">
        <div id="libchat_bce5dfa3d70492b608d2a74df8ac8cd3"></div>
        <script type="text/javascript" src="//v2.libanswers.com/load_chat.php?hash=bce5dfa3d70492b608d2a74df8ac8cd3"></script>
    </div>
</div>